.king{
    border: solid;
}
.A{
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid;
    padding-bottom: 13px;
}
.B{
    border-bottom: solid;
    
}
.a{
    color: blue;
}
.b{
    color: blue;
}
.c{
    color: red;
}
.d{
    color: red;
}
.e{
    color: red;
}